.fill {
    width: 100%;
    height: 100%;
}
/* selection div */
ul {
    padding: 10px;
    margin: 0;
}
li {
    cursor: pointer;
    list-style: none;
}
li:hover {
    background-color: burlywood;
}
.selected {
    background-color:dodgerblue;
}
/* plot div */
#plt {
    position: relative;
}
.plot-button {
    cursor: pointer;
    background-color: rgb(95, 186, 247);
    border-radius: 50%;
}
.plot-y {
    position: absolute;
    top: 50%;
    left: 1%;
}
.plot-x {
    position: absolute;
    bottom: 1%;
    left: 50%;
}
.plot-tr {
    position: absolute;
    top: 1%;
    right: 1%;
}
